@import url(https://fonts.googleapis.com/css?family=Exo:100);

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body {
  font: 900 16px exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;

  height: 100vh;
  width: 100vw;
  margin: 0;

  .snap-container {
    width: 100%;
    height: calc(100% - var(--navbar-height));

    position: relative;
    top: var(--navbar-height);

    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    section {
      flex: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      scroll-snap-align: start;
    }
  }
}

.context {
  width: 100%;
  position: absolute;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(72, 72, 72, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    opacity: 0;
  }
}

.dark-mode .circles li {
  background: rgba(255, 255, 255, 0.2);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  
  :after {
  	content: " ";
  	display: block;
  	width: 64px;
  	height: 64px;
  	margin: 8px;
  	border-radius: 50%;
  	border: 6px solid #fcf;
  	border-color: #fcf transparent #fcf transparent;
  	animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}