[package]
name = "portfolio"
version = "0.1.0"
edition = "2021"

[dependencies]
rocket = "0.5.0-rc.1"
serde = "1.0.130"

[dependencies.mongodb]
version = "2.0.2"
default-features = false
features = ["async-std-runtime"]

[dependencies.rocket_dyn_templates]
version = "0.1.0-rc.1"
features = ["tera"]