{% extends "base" %}

{% block content %}
<div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-all">
  <div class="snap-container">
    <section id="project">
      <div>
        <img src="/img/404.png" alt="404 Error" class="m-5 w-500 p-0" />
        <div></div>
        <div class="d-flex justify-content-center">
          Error message
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}