<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head" %}
    </head>

    <body class="dark-mode">
    	<div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-all">
    		{% include "navbar" %}

    		{% block content %}{% endblock content %}

    		{% include "sidebar" %}
    	</div>
    </body>
</html>