{% extends "base" %}

{% block content %}
  <div class="snap-container">
    <section id="home">
      <div>
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div >

      <div>
        <p class="text-center font-size-24 mb-5">Romuald Aucouturier</p>
        <div></div>
        <p class="text-center font-size-16 m-0 mb-5">Software, video game Dev</p>
        <div class="d-flex justify-content-center">
          <a target="_blank" href="https://github.com/Dragnansia"><i style="color: #ddd;" class="font-size-20 fa fa-github-alt"></i></a>
          <a href="mailto:romuald.auc.pro@protonmail.com" class="ml-10"><i style="color: #ddd;" class="font-size-20 fa fa-inbox"></i></a>
        </div>
      </div>
    </section>

    <section id="information">
      This is my full description for my portfolio
    </section>

    <section id="projects">
      <!-- This is the projects previous list, need to add correct alt -->
      {% for p in projects %}
      <div class="d-flex flex-wrap justify-content-center">
        <a href="/project/{{ p.title }}" data-toggle="tooltip" data-title="{{ p.title }}" class="m-5 w-200 p-0">
          <img src="" class="img-fluid rounded" alt="">
        </a>
      </div>
      {% endfor %}
    </section>
  </div>
{% endblock content %}
