<div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
<nav class="navbar justify-content-between">
  <div class="navbar-content">
    <button class="btn btn-action mr-5 mr-sm-10" onclick="halfmoon.toggleSidebar()" type="button">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <ul class="navbar-nav hidden-sm-and-down">
      <li class="nav-item">
        <p class="font-size-16">Romuald Aucouturier</p>
      </li>
    </ul>
  </div>

  <div class="navbar-brand"></div>

  <div class="navbar-content">
    <ul class="navbar-nav hidden-sm-and-down">
      <li class="nav-item">
        <a onclick="moveTo('home')" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a onclick="moveTo('information')" class="nav-link">Infos</a>
      </li>
      <li class="nav-item">
        <a onclick="moveTo('projects')" class="nav-link">Projects</a>
      </li>
    </ul>
    <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()" aria-label="Toggle dark mode">
      <i class="fa fa-moon-o" aria-hidden="true"></i>
    </button>
  </div>
</nav>